@inherits MementoComponent<PersonList>

<div class="row">
	<PageList Page="this.Persons">
		<ItemTemplate>
			<div class="col-md-4">
				<PersonCard Person="@context">
				</PersonCard>
			</div>
		</ItemTemplate>
	</PageList>
</div>

@if (this.Persons != null)
{
	<PageListControls PageNumber="this.Filter.PageNumber"
					  PageNumberChanged="@((value) => this.OnPageNumberChangeAsync(value))"
					  PageSize="this.Filter.PageSize"
					  PageSizeChanged="@((value) => this.OnPageSizeChangeAsync(value))"
					  TotalPages="this.Persons.TotalPages"
					  TotalItems="this.Persons.TotalItems"
					  TOrderBy="PersonFilterOrderBy"
					  OrderBy="this.Filter.OrderBy"
					  OrderByChanged="@((value) => this.OnOrderByChangeAsync(value))"
					  TOrderDirection="PersonFilterOrderDirection"
					  OrderDirection="this.Filter.OrderDirection"
					  OrderDirectionChanged="@((value) => this.OnOrderDirectionChangeAsync(value))">
	</PageListControls>
}

<div class="row">
	<div class="col-md-12">
		<Anchor class="btn btn-success" Url="@Routes.PersonRoutes.Create">
			<span class="fas fa-plus"></span> @this.Localizer.GetString(SharedResources.BUTTON_CREATE)
		</Anchor>
	</div>
</div>