@inherits MementoComponent<PersonForm>

@if (this.Person == null)
{
	<h3>
		<i class="fas fa-spinner fa-pulse"></i> @this.Localizer.GetString(SharedResources.GENERIC_LOADING)...
	</h3>
}
else
{
	<EditForm Model="this.Person"
			  OnValidSubmit="this.OnValidSubmitAsync"
			  OnInvalidSubmit="this.OnInvalidSubmit">
		
		<!-- validation -->
		<ValidationSummary />
		<DataAnnotationsValidator />
		
		<!-- inputs -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<Label For="@(() => this.PersonChanges.Name)">
					</Label>
					<InputText class="form-control"
							   @bind-Value="this.PersonChanges.Name">
					</InputText>
					<ValidationMessage For="@(() => this.PersonChanges.Name)">
					</ValidationMessage>
				</div>
				<div class="form-group">
					<InputMarkdown class="form-control"
								   @bind-Value="this.PersonChanges.Biography">
						<MarkdownLabelContent>
							@this.Localizer.GetString(SharedResources.PERSON_BIOGRAPHY)
						</MarkdownLabelContent>
						<PreviewLabelContent>
							@this.Localizer.GetString(SharedResources.FORM_MARKDOWN_PREVIEW)
						</PreviewLabelContent>
					</InputMarkdown>
					<ValidationMessage For="@(() => this.PersonChanges.Biography)">
					</ValidationMessage>
				</div>
				<div class="form-group">
					<InputImage @ref="this.InputImage"
								@bind-Value="this.PersonChanges.Picture"
								ImageUrl="@this.Person.PictureUrl">
						<ImageLabelContent>
							@this.Localizer.GetString(SharedResources.PERSON_PICTURE)
						</ImageLabelContent>
						<PreviewLabelContent>
							@this.Localizer.GetString(SharedResources.FORM_IMAGE_PREVIEW)
						</PreviewLabelContent>
					</InputImage>
					<ValidationMessage For="@(() => this.PersonChanges.Picture)">
					</ValidationMessage>
				</div>
				<div class="form-group">
					<Label For="@(() => this.PersonChanges.BirthDate)">
					</Label>
					<InputDate class="form-control"
							   @bind-Value="this.PersonChanges.BirthDate">
					</InputDate>
					<ValidationMessage For="@(() => this.PersonChanges.BirthDate)">
					</ValidationMessage>
				</div>
			</div>
		</div>
		
		<!-- buttons -->
		<div class="row">
			<div class="col-md-12">
				<Button Color="NamedColor.Success" IsSubmit="true">
					<span class="fas fa-save"></span> @this.Localizer.GetString(SharedResources.BUTTON_SAVE_CHANGES)...
				</Button>
				<Button Color="NamedColor.Secondary" IsSubmit="false" OnClicked="this.OnCancelAsync">
					<span class="fas fa-trash"></span> @this.Localizer.GetString(SharedResources.BUTTON_DISCARD_CHANGES)...
				</Button>
			</div>
		</div>
	</EditForm>
}


<!-- save changes modal -->
<ConfirmationModal @ref="this.SaveChangesModal"
				   HeaderBackgroundColor="NamedColor.Success"
				   HeaderTextColor="NamedColor.White"
				   ConfirmButtonColor="NamedColor.Success"
				   ConfirmButtonCallback="this.OnSaveChangesConfirmedAsync"
				   CancelButtonColor="NamedColor.Secondary"
				   CancelButtonCallback="this.OnSaveChangesCancelledAsync">
	<!-- header -->
	<HeaderContent>
		<span class="fas fa-save"></span> @this.Localizer.GetString(SharedResources.MODAL_SAVE_CHANGES_TITLE)
	</HeaderContent>
	<!-- body -->
	<BodyContent>
		<p>@this.Localizer.GetString(SharedResources.MODAL_SAVE_CHANGES_BODY)</p>
	</BodyContent>
</ConfirmationModal>

<!-- discard changes modal -->
<ConfirmationModal @ref="this.DiscardChangesModal"
				   HeaderBackgroundColor="NamedColor.Warning"
				   HeaderTextColor="NamedColor.White"
				   ConfirmButtonColor="NamedColor.Warning"
				   ConfirmButtonCallback="this.OnDiscardChangesConfirmedAsync"
				   CancelButtonColor="NamedColor.Secondary"
				   CancelButtonCallback="this.OnDiscardChangesCancelledAsync">
	<!-- header -->
	<HeaderContent>
		<span class="fas fa-exclamation-triangle"></span> @this.Localizer.GetString(SharedResources.MODAL_DISCARD_CHANGES_TITLE)
	</HeaderContent>
	<!-- body -->
	<BodyContent>
		<p>@this.Localizer.GetString(SharedResources.MODAL_DISCARD_CHANGES_BODY)</p>
	</BodyContent>
</ConfirmationModal>