@inherits MementoComponent<MovieForm>

@if (this.Movie == null)
{
	<h3>
		<i class="fas fa-spinner fa-pulse"></i> @this.Localizer.GetString(SharedResources.GENERIC_LOADING)...
	</h3>
}
else
{
	<EditForm Model="this.Movie"
			  OnValidSubmit="this.OnValidSubmitAsync"
			  OnInvalidSubmit="this.OnInvalidSubmit">
		
		<!-- validation -->
		<ValidationSummary />
		<DataAnnotationsValidator />
		
		<!-- inputs -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<Label For="@(() => this.MovieChanges.Name)">
					</Label>
					<InputText class="form-control"
							   @bind-Value="this.MovieChanges.Name">
					</InputText>
					<ValidationMessage For="@(() => this.MovieChanges.Name)">
					</ValidationMessage>
				</div>
				<div class="form-group">
					<InputMarkdown class="form-control"
								   @bind-Value="this.MovieChanges.Summary">
						<MarkdownLabelContent>
							@this.Localizer.GetString(SharedResources.MOVIE_SUMMARY)
						</MarkdownLabelContent>
						<PreviewLabelContent>
							@this.Localizer.GetString(SharedResources.FORM_MARKDOWN_PREVIEW)
						</PreviewLabelContent>
					</InputMarkdown>
					<ValidationMessage For="@(() => this.MovieChanges.Summary)">
					</ValidationMessage>
				</div>
				<div class="form-group">
					<Label For="@(() => this.Movie.Genres)">
					</Label>
					<InputTypeahead @ref="this.GenreInputTypeahead"
									T="GenreListContract"
									SearchMethod="@((name) => this.GetGenresAsync(name))"
									Value="this.Genre"
									ValueChanged="@((genre) => this.OnGenreSelected(genre))"
									ValueExpression="@(() => this.Genre)">
						<SuggestionContent Context="genre">
							<span>@genre.Name</span>
						</SuggestionContent>
					</InputTypeahead>
				</div>
				<ul>
					@foreach (var genre in this.MovieGenres ?? new List<GenreListContract>())
					{
						<li>@genre.Name</li>
					}
				</ul>
				<div class="form-group">
					<Label For="@(() => this.Movie.Persons)">
					</Label>
					<InputTypeahead @ref="this.PersonInputTypeahead"
									T="PersonListContract"
									SearchMethod="@((name) => this.GetPersonsAsync(name))"
									Value="this.Person"
									ValueChanged="@((genre) => this.OnPersonSelected(genre))"
									ValueExpression="@(() => this.Person)">
						<SuggestionContent Context="person">
							<span>@person.Name</span>
						</SuggestionContent>
					</InputTypeahead>
				</div>
				<div class="form-group">
					<InputImage @ref="this.PictureInputImage"
								@bind-Value="this.MovieChanges.Picture"
								ImageUrl="@this.Movie.PictureUrl">
						<ImageLabelContent>
							@this.Localizer.GetString(SharedResources.MOVIE_PICTURE)
						</ImageLabelContent>
						<PreviewLabelContent>
							@this.Localizer.GetString(SharedResources.FORM_IMAGE_PREVIEW)
						</PreviewLabelContent>
					</InputImage>
					<ValidationMessage For="@(() => this.MovieChanges.Picture)">
					</ValidationMessage>
				</div>
				<div class="form-group">
					<Label For="@(() => this.MovieChanges.TrailerUrl)">
					</Label>
					<InputText class="form-control"
							   @bind-Value="this.MovieChanges.TrailerUrl">
					</InputText>
					<ValidationMessage For="@(() => this.MovieChanges.TrailerUrl)">
					</ValidationMessage>
				</div>
				<div class="form-group">
					<Label For="@(() => this.MovieChanges.InTheaters)">
					</Label>
					<InputCheckbox class="form-control"
								   @bind-Value="this.MovieChanges.InTheaters">
					</InputCheckbox>
					<ValidationMessage For="@(() => this.MovieChanges.InTheaters)">
					</ValidationMessage>
				</div>
				<div class="form-group">
					<Label For="@(() => this.MovieChanges.ReleaseDate)">
					</Label>
					<InputDate class="form-control"
							   @bind-Value="this.MovieChanges.ReleaseDate">
					</InputDate>
					<ValidationMessage For="@(() => this.MovieChanges.ReleaseDate)">
					</ValidationMessage>
				</div>
			</div>
		</div>
		
		<!-- buttons -->
		<div class="row">
			<div class="col-md-12">
				<Button Color="NamedColor.Success" IsSubmit="true">
					<span class="fas fa-save"></span> @this.Localizer.GetString(SharedResources.BUTTON_SAVE_CHANGES)...
				</Button>
				<Button Color="NamedColor.Secondary" IsSubmit="false" OnClicked="this.OnCancelAsync">
					<span class="fas fa-trash"></span> @this.Localizer.GetString(SharedResources.BUTTON_DISCARD_CHANGES)...
				</Button>
			</div>
		</div>
	</EditForm>
}

<!-- save changes modal -->
<ConfirmationModal @ref="this.SaveChangesModal"
				   HeaderBackgroundColor="NamedColor.Success"
				   HeaderTextColor="NamedColor.White"
				   ConfirmButtonColor="NamedColor.Success"
				   ConfirmButtonCallback="this.OnSaveChangesConfirmedAsync"
				   CancelButtonColor="NamedColor.Secondary"
				   CancelButtonCallback="this.OnSaveChangesCancelledAsync">
	<!-- header -->
	<HeaderContent>
		<span class="fas fa-save"></span> @this.Localizer.GetString(SharedResources.MODAL_SAVE_CHANGES_TITLE)
	</HeaderContent>
	<!-- body -->
	<BodyContent>
		<p>@this.Localizer.GetString(SharedResources.MODAL_SAVE_CHANGES_BODY)</p>
	</BodyContent>
</ConfirmationModal>

<!-- discard changes modal -->
<ConfirmationModal @ref="this.DiscardChangesModal"
				   HeaderBackgroundColor="NamedColor.Warning"
				   HeaderTextColor="NamedColor.White"
				   ConfirmButtonColor="NamedColor.Warning"
				   ConfirmButtonCallback="this.OnDiscardChangesConfirmedAsync"
				   CancelButtonColor="NamedColor.Secondary"
				   CancelButtonCallback="this.OnDiscardChangesCancelledAsync">
	<!-- header -->
	<HeaderContent>
		<span class="fas fa-exclamation-triangle"></span> @this.Localizer.GetString(SharedResources.MODAL_DISCARD_CHANGES_TITLE)
	</HeaderContent>
	<!-- body -->
	<BodyContent>
		<p>@this.Localizer.GetString(SharedResources.MODAL_DISCARD_CHANGES_BODY)</p>
	</BodyContent>
</ConfirmationModal>