@inherits MementoComponent<PersonCardFragment>

<div class="card mb-md-2">
	<div class="card-header">
		<h3 class="mb-md-0">
			@this.Person.Name
		</h3>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<a>
					<!-- thumbnail -->
					<img class="img-thumbnail h-md-250-px" src="@this.Person.PictureUrl" alt="@this.Person.Name" />
				</a>
			</div>
			<div class="col-md-6">
				<div class="d-flex flex-column h-100">
					<!-- data -->
					<dl>
						<dt>@this.Localizer.GetString(SharedResources.PERSON_NAME)</dt>
						<dd>@this.Person.Name</dd>
						<dt>@this.Localizer.GetString(SharedResources.PERSON_BIRTHDATE)</dt>
						<dd>@this.Person.BirthDate.ToShortDateString()</dd>
					</dl>
					<!-- button -->
					<Button class="btn btn-block btn-primary mt-auto mb-1" IsSubmit="false" OnClicked="this.OnView">
						<span class="fas fa-sign-in"></span> @this.Localizer.GetString(SharedResources.BUTTON_VIEW)
					</Button>
				</div>
			</div>
		</div>
	</div>
</div>