@inherits MementoComponent<BreadcrumbHeader>

<div class="row mb-2 bg-breadcrumb">
	<div class="col-md-6 px-md-3 my-auto text-left">
		<h2 class="py-md-2 px-md-0 m-md-0 ml-md-2">
			@this.PrimaryHeader</h2>
		<h6 class="py-md-1 px-md-0 m-md-0 ml-md-2">
			@this.SecondaryHeader
		</h6>
		<nav>
			<ol class="breadcrumb py-md-2 px-md-0 m-md-0 ml-md-2">
				@foreach (var link in this.Links.Take(this.Links.Count - 1))
				{
					<li class="breadcrumb-item">
						<a href="@link.Url">@link.Label</a>
					</li>
				}
				<li class="breadcrumb-item active">
					@this.Links[this.Links.Count - 2].Label
				</li>
			</ol>
		</nav>
	</div>
	<div class="col-md-6 my-auto text-right">
		@foreach (var action in this.Actions)
		{
			<button class="btn btn-primary m-md-0 mr-md-2 @(!action.Enabled ? "disabled" : string.Empty)"
					@onclick="action.OnClick">
				<span class="@action.Icon"></span>
				@action.Label
			</button>
		}
	</div>
</div>