@inherits InputBase<string>

<div class="row">
	<div class="col-md-6">
		<label for="this.ForName">
			@if (this.ImageLabelContent != null)
			{
				@this.ImageLabelContent
			}
			else
			{
				@this.ForDisplayName
			}
		</label>
	</div>
	<div class="col-md-6">
		<label for="this.ForName">
			@if (this.PreviewLabelContent != null)
			{
				@this.PreviewLabelContent
			}
			else
			{
				@this.Localizer.GetString(SharedResources.FORM_MARKDOWN_PREVIEW)
			}
		</label>
	</div>
</div>

<div class="row h-350-px">
	<div class="col-md-6">
		<input type="file" accept="@this.Accepts" @ref="this.Input" @onchange="this.OnInputChangesAsync" @attributes="this.AdditionalAttributes" />
	</div>
	<div class="col-md-6">
		<div class="border border-secondary">
			@if (string.IsNullOrWhiteSpace(this.CurrentValue) && !string.IsNullOrWhiteSpace(this.InitialImageUrl))
			{
				<img class="img-fluid" src="@this.InitialImageUrl" />
			}
			@if (string.IsNullOrWhiteSpace(this.CurrentValue) && !string.IsNullOrWhiteSpace(this.InitialImageBase64))
			{
				<img class="img-fluid" src="data:image/jpeg;base64, @this.InitialImageBase64" />
			}
			@if (!string.IsNullOrWhiteSpace(this.CurrentValue))
			{
				<img class="img-fluid" src="data:image/jpeg;base64, @this.CurrentValue" />
			}
		</div>
	</div>
</div>